<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_day.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,511}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{288,511}</string>
				<key>spriteSourceSize</key>
				<string>{288,511}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,0},{288,511}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg_night.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,511}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{288,511}</string>
				<key>spriteSourceSize</key>
				<string>{288,511}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{288,511}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird0_0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{226,721},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird0_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,743},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird0_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,647},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird1_0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,743},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird1_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,671},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird1_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,721},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird2_0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{292,695},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird2_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{292,719},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird2_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,24}</string>
				<key>spriteSourceSize</key>
				<string>{34,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,623},{34,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button_play.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,58}</string>
				<key>spriteSourceSize</key>
				<string>{104,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,763},{104,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button_score.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,58}</string>
				<key>spriteSourceSize</key>
				<string>{104,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{104,763},{104,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ground.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{336,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{336,112}</string>
				<key>spriteSourceSize</key>
				<string>{336,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,511},{336,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pipe1_down.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,320}</string>
				<key>spriteSourceSize</key>
				<string>{52,320}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{440,511},{52,320}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pipe1_up.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,320}</string>
				<key>spriteSourceSize</key>
				<string>{52,320}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{492,511},{52,320}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pipe_down.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,320}</string>
				<key>spriteSourceSize</key>
				<string>{52,320}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,511},{52,320}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pipe_up.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,320}</string>
				<key>spriteSourceSize</key>
				<string>{52,320}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,511},{52,320}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>text_game_over.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,42}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,42}</string>
				<key>spriteSourceSize</key>
				<string>{192,42}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,721},{192,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>text_ready.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,50}</string>
				<key>spriteSourceSize</key>
				<string>{184,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{114,623},{184,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>title.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{178,48}</string>
				<key>spriteSourceSize</key>
				<string>{178,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{114,673},{178,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tutorial.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{114,98}</string>
				<key>spriteSourceSize</key>
				<string>{114,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,623},{114,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{576,831}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>gfx.png</string>
				<key>textureFileName</key>
				<string>gfx</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
